body {
  background-color: #f2f2f2;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.headingTxt {
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}
table {
  width: 60%;
}
tr {
  line-height: 25px;
}

.btnType {
  background-color: dodgerblue;
  border: none;
  padding: 4px;
  border-radius: 5px;
  color: #f2f2f2;
  margin: 5px;
}
